/*
	-------- Modal commons styles -------- 
*/
.modal__footer,
.modal__header {
    display: flex;
    align-items: flex-start;
}

/*
	-------- Modal shadow -------- 
*/
.modal-shadow {
    position: fixed;
    background: #0000004f;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
    transition: all 0.2s ease;
}

/*
	-------- Modal content body -------- 
*/
.modal__content {
    background: white;
    padding: 2.5rem;
    width: 650px;
    border-radius: 0.5rem;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.123);
}

/*
	-------- Modal header with titles -------- 
*/
.modal__header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding-bottom: 1.5em;
}

/*
	-------- Modal header close button -------- 
*/
.modal__button-close {
    margin-left: auto;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal__button-close i {
    transition: all 0.1s ease;
}

.modal__button-close:hover i {
    color: black;
    font-size: 1.7rem;
}

/*
	-------- Modal title -------- 
*/
.modal__title {
}

/*
	-------- Modal body content -------- 
*/
.modal__body {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

/*
	-------- Modal img container -------- 
*/
.modal__multimedia img,
.modal__multimedia video,
.modal__multimedia figure,
.modal__multimedia picture {
    width: 100%;
    max-width: 100%;
    display: block;
    margin-bottom: 1rem;
    border-radius: 5px;
}

/*
	-------- Modal text content-------- 
*/
.modal__text {
    font-weight: 300;
    line-height: 1.8;
}

/*
	-------- Modal footer -------- 
*/
.modal__footer {
}

/*
	-------- Modal multiple selects  -------- 
*/
.modal-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/*
	-------- Modal selection children -------- 
*/
.modal-selection > .modal-selection__select:not(:last-child) {
    margin-right: 1rem;
}

/*
	-------- Modal the title of sections -------- 
*/
.modal__text-title {
    margin-bottom: 1rem;
    font-weight: 700;
}

/*
	-------- Displays modal -------- 
*/
.modal--active {
    opacity: 1;
    display: flex;
}

.modal--disabled {
    opacity: 0;
    z-index: -1; /*para que no bloquee los demas elementos del DOM*/
}

@media screen and (max-width: 480px) {
    .modal-shadow {
        padding: 0;
    }

    .modal__title {
        text-align: center;
        width: 100%;
    }

    .modal__content {
        width: 100%;
        min-height: 100%;
        border-radius: 0;
    }

    .button-group {
        flex-direction: column;
    }

    body .button-group > .button:not(:last-child) {
        margin-right: 0;
    }

    .button-group > .button {
        margin: 0.5rem 0;
    }
}
