*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	margin-block-start: 0;
	margin-block-end :0;
}

/* modal container */
.modal-shadow{
	position: fixed;
	background: #0000008c;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
	overflow: auto;
}

/* modal content (header, body and footer of modal) */
.modal__content{
	/*width: 300px;*/
	width: 70%;
	background: white;
	padding: 2rem;
	border-radius: 5px;
}

/* ============================================ */
/* | 					modal header and footer				 	| */
/* ============================================ */
.modal__header,
.modal__footer{
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
}

.modal__header hr.modal__header-hr {
    margin-top: .2rem;
}

.modal__footer hr.modal__footer-hr {
    margin-bottom: .2rem;
}


/* ============================================ */
/* | forms fields like bootstrap form-control | */
/* ============================================ */

.field{
	/*background: red;*/
	border-radius: 5px;
	padding: .5rem 0;
	margin: .7rem 0;
	display: flex;
	flex-direction: column;
	/*border: 1px solid gray;*/
}

.field label{
	margin-bottom: .5rem;
}

.field input{
	display: block;
	width: 100%;
	border: 0;
	outline: none;
	padding: .5rem;
	border: 1px solid gray;
	border-radius: 5px;
}

.field select{
	display: block;
	width: 100%;
	border: 0;
	outline: none;
	padding: .5rem;
	border: 1px solid gray;
	border-radius: 5px;
}

.field textarea{
	max-width: 100%;
	min-width: 100%;
  min-height: 80px;
	padding: .5rem;
}

/* special case for checkbox and radio */
/*
<div class="field">
		<label for="html" class="input-checkbox">
			<input id="html" type="checkbox">
			html
		</label>

		<label for="css" class="input-checkbox">
			<input id="css" type="checkbox">
			css
		</label>
</div>
*/
.field label.input-checkbox,
.field label.input-radio{
	display: flex;
	align-items: center;
	padding: 2px 0;
}

	.field input[type="checkbox"],
	.field input[type="radio"]{
		width: auto;
		margin-right: .3rem;
	}

/* input range */
.field label.input-range{
	position: relative;
	/* background: red; */
	margin: 3px 0 9px 0;
}

	.field input[type="range"]{
		padding: 0;
	}

	.input-range-toolTip{
		/* background: green; */
		text-align: center;
		font-size: 1rem;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		height: 20px;
	}
